<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="controller_action_predispatch_checkout_cart_index">
       <observer name="vendor_module_observer_checkoutinit" instance="FS\GoCuotas\Observer\Checkoutinit" />
   </event>
</config>
